<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="text-center pt-3 font-weight-bold">{{ 'Create New Password' | translate }}</h3>
                    </div>
                    <div class="panel-heading form-group p-3">
                        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <select class="form-select" (change)="ChangeLang($event)" name="" id="">
                                    <option [selected]="lang === 'en'" value="en">English</option>
                                    <option [selected]="lang === 'fr'" value="fr">French</option>
                                    <option [selected]="lang === 'es'" value="es">Spanish</option>
                                    <option [selected]="lang === 'ar'" value="ar">Arabic</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="resetPasswordFrom">
                            <div class="form-group p-3">
                                <div class="input-field" [class.error]="resetPasswordFrom.controls['password'].dirty && resetPasswordFrom.hasError('required', 'password')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="password" type="{{ type }}" placeholder="New Password">
                                </div>
                                <small *ngIf="resetPasswordFrom.controls['password'].dirty && resetPasswordFrom.hasError('required', 'password')" class="text-danger">{{ '*New Password is required' | translate }}</small>
                            </div>
                            <div class="form-group p-3">
                                <div class="input-field" [class.error]="resetPasswordFrom.controls['confirmPassword'].dirty && resetPasswordFrom.hasError('required', 'confirmPassword')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="confirmPassword" type="{{ type }}" placeholder="Confirm Password">
                                </div>
                                <small *ngIf="resetPasswordFrom.controls['confirmPassword'].dirty && resetPasswordFrom.hasError('required', 'confirmPassword')" class="text-danger">{{ '*confirm Password is required' | translate }}</small>
                                <small *ngIf="resetPasswordFrom.hasError('confirmPasswordvalidator', 'confirmPassword')" class="text-danger">{{ '*Password doesn\'t match' | translate }}</small>
                            </div>
                            <button (click)="onReste()" type="submit" class="btn btn-primary btn-block mt-4 w-100">{{ 'Login' | translate }}</button>
                        </form>
                        <small *ngIf="!resetPasswordFrom.valid" class="text-danger">{{ 'Create new password' | translate }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
