<p>departement works!</p>

<div class="card">
    <div class="card-head">hi hi </div>
    <div class="card-body">
        These changes will make the navigation items appear horizontally instead of vertically. Adjust margins and spacing as needed for your design preferences.

    </div>
</div>


<div class="card">
    <div class="card-head">issam serbout  </div>
    <div class="card-body">
        These changes will make the navigation items appear horizontally instead of vertically. Adjust margins and spacing as needed for your design preferences.

    </div>
</div>
