

<h1>  dashboard works! </h1>

<div class="card">
    
    <div class="card-body">
        <main class="">
            
            
  
            
            <!-- Include Bootstrap CSS -->


<!-- Your HTML code -->

    <div class="card-body">
        <!-- Tabs navs -->
        <ul class="nav nav-tabs mb-0" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#Users" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Users</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#Title" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">Title</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-3" data-bs-toggle="tab" href="#Role" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">Role</a>
            </li>
        </ul>
        <!-- Tabs content -->
        <div class="tab-content" id="ex1-content">
            <div class="tab-pane fade show active" id="Users" role="tabpanel">
                <div class="table-responsive">
                    <div class="form-outline mt-3">
                        <input type="search" [(ngModel)]="searchtext" id="form1" class="form-control" placeholder="Search" aria-label="search"> 
                    
                       
                    </div>
                    <div style="display: flex; justify-content: flex-end; margin-top: 1rem;margin-bottom: 1rem;">
                        <button type="button" class="btn btn-primary"  id="forgot"  data-bs-toggle="modal" data-bs-target="#addUserModal">
                            Add User
                        </button>
                        
                    </div>
                      
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">TE ID</th>
                                <th scope="col">fullName</th>
                                <th scope="col">phone</th>
                                <th scope="col">role</th>
                                <th scope="col">Job</th>
                                <th scope="col">Email</th>
                                <th scope="col">Plant</th>
                                <th scope="col">Depaertement</th>
                                <th scope="col">status</th>
                                <th scope="col">Time Open</th>
                                <th scope="col">Time changer Password</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users|filter:searchtext; let i= index" >
                                <td>{{i+1}}</td>
                                <td>{{user.teid}}</td>
                                <td>{{user.fullName}}</td>
                                <td>{{user.phone}}</td>
                               <td>{{user.role}}</td> 
                               <td>{{user.name_Title}}</td> 
                                <td>{{user.email}}</td>
                                <td>{{user.plant}}</td>
                                <td>{{user.departement}}</td>
                                <td><span class="status" [ngClass]="{'pending': user.status === 'pending', 'done': user.status === 'done'}">{{user.status}}</span></td>

                                 <td>{{user.refreshTokenExpiryTime | date:'dd-MM-yyyy / HH:mm:ss' }}</td> 
                                 <td>{{user.resetPasswordExpiryTime | date:'dd-MM-yyyy / HH:mm:ss' }}</td>

                                 <td>
                                    <!-- View button to reveal view modal -->
                                    <a  class="view" data-toggle="modal" data-target="#viewModal{{i}}">
                                        <i class="material-icons" data-toggle="tooltip" title="View">&#xE8F4;</i>
                                    </a>
                                    <!-- Edit button to reveal edit form -->
                                    <a class="edit" data-toggle="modal" data-target="#editModal{{i}}">
                                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                    </a>
                                    <!-- Delete button -->
                                    <a  class="delete" data-toggle="modal" data-target="#deleteModal{{i}}">
                                        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                                    </a>
                                    
                                    
                                </td>
                            </tr>
      
                        </tbody>
                    </table>
                    
                </div>
                
            </div>
            
            <div class="tab-pane fade" id="Title" role="tabpanel">
                <div class="container">
                    <h1><hr></h1>
                    <div class="cadrs-container">
                        <div class="cards-form">
                            <form [formGroup]="titleForm">
                                <div class="form-group">
                                    <label for="">New Name Title:</label>
                                    <input formControlName="Name_Title" type="text" placeholder="Name Title">
                                </div>
                               <div class="form-group">
                        <div class="row">
                            <!-- Only show the Save button -->
                            <div class="col">
                                <button *ngIf="selectedTitleId === null" (click)="onSaveTitle()" class="btn btn-primary">Save</button>
                                <button *ngIf="selectedTitleId !== null" (click)="onUpdateTitle()" class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                    </div>
                                
                            </form>
                        </div>
                        <div class="cards-grid">
                            <div class="form-outline mt-3">
                                <input type="search" [(ngModel)]="searchtext" id="form1" class="form-control" placeholder="Search" aria-label="search" style="margin-bottom: 2em; "> 
                            
                               
                            </div>
                            <div class="card-row" *ngFor="let title of getDisplayedTitles()|filter:searchtext; let i = index">
                            <div class="card-row-details"  (click)="selectTitle(title.id)">
                            <span>{{ title.name_Title }}</span>
                            </div>
                            <div class="card-row-action">
                            <a (click)="deleteTitle(title.id)"><i class="fas fa-trash-alt"></i></a>
                            </div>
                            </div>
                            <!-- Pagination -->
                            <div class="clearfix">
                            <div class="hint-text">Showing <b>{{ getDisplayedTitles().length }}</b> out of <b>{{ totalTitles }}</b> entries</div>
                            <ul class="pagination">
                            <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
                            <a class="page-link"   (click)="prevPage()">Previous</a>
                            </li>
                            <li class="page-item" *ngFor="let page of pages" [ngClass]="{ 'active': currentPage === page }">
                            <a class="page-link" (click)="changePage(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
                            <a class="page-link"   (click)="nextPage()">Next</a>
                            </li>
                            </ul>
                            </div>
                            </div>

                    </div>
                </div>
            </div>
            
            <div class="tab-pane fade" id="Role" role="tabpanel">
                <div class="container">
                    <h1><hr></h1>
                    <div class="cadrs-container">
                        <div class="cards-form">
                            <form [formGroup]="RoleForm">
                                <div class="form-group">
                                    <label for="">New Name Role:</label>
                                    <input formControlName="Name_Role" type="text" placeholder="Name Role">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <!-- Only show the Save button -->
                                        <div class="col">
                                            <button *ngIf="selectedRoleId === null" (click)="onSaveRole()" class="btn btn-primary">Save</button>
                                        </div>
                                        <!-- Only show the Update button -->
                                        <div class="col text-end">
                                            <button *ngIf="selectedRoleId !== null" (click)="onUpdateRole()" class="btn btn-secondary">Update</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        <div class="cards-grid">
                            <div class="form-outline mt-3">
                                <input type="search" [(ngModel)]="searchtext" id="form1" class="form-control" placeholder="Search" aria-label="search" style="margin-bottom: 2em;"> 
                            </div>
                            <div *ngIf="roles.length > 0; else noRolesMessage">
                                <div class="card-row" *ngFor="let role of getDisplayedRoles()|filter:searchtext; let i = index" (click)="selectRole(role.id)">
                                  <div class="card-row-details">
                                    <span>{{ role.name_Role }}</span>
                                  </div>
                                  <div class="card-row-action">
                                    <a (click)="deleteRole(role.id)"><i class="fas fa-trash-alt"></i></a>
                                  </div>
                                </div>
                              </div>
                              <ng-template #noRolesMessage>
                                <div class="text-center">
                                  <p>No roles available</p>
                                </div>
                              </ng-template>
                              
                              <!-- Pagination -->
                              <div class="clearfix">
                                <div class="hint-text">Showing <b>{{ getDisplayedRoles().length }}</b> out of <b>{{ totalRoles }}</b> entries</div>
                                <ul class="pagination">
                                  <li class="page-item" [ngClass]="{ 'disabled': currentPageRole === 1 }">
                                    <a class="page-link" (click)="prevPageRole()">Previous</a>
                                  </li>
                                  <li class="page-item" *ngFor="let page of pagesRole" [ngClass]="{ 'active': currentPageRole === page }">
                                    <a class="page-link" (click)="changePageRole(page)">{{ page }}</a>
                                  </li>
                                  <li class="page-item" [ngClass]="{ 'disabled': currentPageRole === totalPagesRole }">
                                    <a class="page-link" (click)="nextPageRole()">Next</a>
                                  </li>
                                </ul>
                              </div>
                              
                            <ng-template #noRolesMessage>
                                <div class="text-center">
                                    <p>No roles available</p>
                                </div>
                            </ng-template>
                        </div>
                        

                    </div>
                </div>
            </div>

            

        </div>
       
    </div>
    
        </main>    
    </div>
</div>



<div class="modal fade"   id="addUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <header class="header">
            <h1 id="title" class="text-center">Survey Form</h1>
            <p id="description" class="text-center">
                Thank you for taking the time to help us improve the platform
            </p>
        </header>
        <div class="form-wrap">	
            <form id="survey-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label id="name-label" for="name">Name</label>
                            <input type="text" name="name" id="name" placeholder="Enter your name" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label id="email-label" for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="Enter your email" class="form-control" required>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label id="number-label" for="number">Age <small>(optional)</small></label>
                            <input type="number" name="age" id="number" min="10" max="99" class="form-control" placeholder="Age" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>current role</label>
                            <select id="dropdown" name="role" class="form-control" required>
                                <option disabled selected value>Select</option>
                                <option value="student">Student</option>
                                <option value="job">Full Time Job</option>
                                <option value="learner">Full Time Learner</option>
                                <option value="preferNo">Prefer not to say</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Would you recommend survey to a friend?</label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" value="Definitely" name="customRadioInline1" class="custom-control-input" checked="">
                                <label class="custom-control-label" for="customRadioInline1">Definitely</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" value="Maybe" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">Maybe</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline3" value="Not sure" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline3">Not sure</label>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>This survey useful yes or no?</label>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" name="yes" value="yes" id="yes" checked="">
                                <label class="custom-control-label" for="yes">Yes</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" name="no" value="no" id="no">
                                <label class="custom-control-label" for="no">No</label>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Leave Message</label>
                            <textarea  id="comments" class="form-control" name="comment" placeholder="Enter your comment here..."></textarea>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" id="submit" class="btn btn-primary btn-block">Submit Survey</button>
                    </div>
                </div>
    
            </form>
        </div>	
    </div>
</div>
</div>

