<!-- Include Bootstrap CSS -->
<div class="card">
    <div class="card-body">
       <h1> PLANR + SEPARTEMENT + ARE + PROJECT +MACHINE</h1>
    </div>
</div>

<!-- Your HTML code -->
<div class="card">
    <div class="card-body">
        <!-- Tabs navs -->
        <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active"  data-bs-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="true">Tab 1</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">Tab 2</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link"  data-bs-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">Tab 3</a>
            </li>
        </ul>
        <!-- Tabs content -->
        <div class="tab-content" >
            <div class="tab-pane fade show active" id="user" role="tabpanel">
                Tab 1 content
            </div>
            <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel">
                Tab 2 content
            </div>
            <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel">
                Tab 3 content
            </div>
        </div>
        <!-- Tabs content -->
    </div>
</div>

<!-- Include Bootstrap JS (jQuery is required for Bootstrap JS) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
